# dependencies
/node_modules
/.pnp
.pnp.js

# misc
.DS_Store
.vscode/
.idea/
pnpm-lock.yaml
# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# sitemap
web/public/robots.txt
web/public/sitemap.xml
web/public/sitemap-0.xml

dist
api/api.log
node_modules_backup/
.vercel
