.bottom-audio-player [data-reach-slider-input][data-orientation='horizontal'] {
  height: 2px;
}
.bottom-audio-player [data-reach-slider-input][data-disabled] {
  opacity: initial;
  pointer-events: none;
}
.bottom-audio-player [data-reach-slider-range] {
  background: linear-gradient(90deg, #26d1a8 0%, #ac4efd 25%, #fed503 75%, #fe5540 100%);
}
.bottom-audio-player [data-reach-slider-track] {
  background: #202020;
}
.bottom-audio-player [data-reach-slider-handle] {
  opacity: 0;
  background: white;
}
.bottom-audio-player [data-reach-slider-track][data-orientation='horizontal']:before {
  height: 0.5rem;
  top: calc(-0.15rem - 1px);
}
