@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Metropolis-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/Metropolis-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/Metropolis-SemiBold.otf') format('opentype');
}

@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/Metropolis-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/Metropolis-ExtraBold.otf') format('opentype');
}

@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/Metropolis-Black.otf') format('opentype');
}

body,
pre {
  font-family: 'Metropolis';
}

.bg-rainbow-gradient {
  background: linear-gradient(90deg, #26d1a8 0%, #ac4efd 25%, #fed503 75%, #fe5540 100%);
}

.rainbox-text {
  background: linear-gradient(90deg, #26d1a8 0%, #ac4efd 25%, #fed503 75%, #fe5540 100%);
  background-clip: text;
  color: transparent;
}

.green-gradient-text {
  background: linear-gradient(90deg, #68d18d 0%, #42f07f 25%, #9eee1d 75%, #ffd604 100%);
  background-clip: text;
  color: transparent;
}

.max-height-from-menu {
  height: calc(100vh - 80px);
}

@layer utilities {
  .placeholder-semibold::placeholder {
    @apply font-semibold;
  }
}
