@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Metropolis-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/Metropolis-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/Metropolis-SemiBold.otf') format('opentype');
}

@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/Metropolis-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/Metropolis-ExtraBold.otf') format('opentype');
}

@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/Metropolis-Black.otf') format('opentype');
}

body,
pre {
  font-family: 'Metropolis';
}

body,
html {
  background-color: rgba(16, 16, 16);
}

.bg-purple-gradient {
  background: linear-gradient(76.4deg, #ab4eff 8.28%, #f1419e 83.02%);
}

.bg-rainbow-gradient {
  background: linear-gradient(90deg, #26d1a8 0%, #ac4efd 25%, #fed503 75%, #fe5540 100%);
}

.rainbox-text {
  background: linear-gradient(90deg, #26d1a8 0%, #ac4efd 25%, #fed503 75%, #fe5540 100%);
  background-clip: text;
  color: transparent;
}

.green-yellow-gradient-text {
  background: linear-gradient(90deg, #68d18d 0%, #42f07f 25%, #9eee1d 75%, #ffd604 100%);
  background-clip: text;
  color: transparent;
}

.green-gradient-text {
  background: linear-gradient(90deg, #278e31 0%, #52b23b 100%);
  background-clip: text;
  color: transparent;
}

.yellow-gradient-text {
  background: linear-gradient(90deg, #fe5540 0%, #fcae1b 69%, #fed603 100%);
  background-clip: text;
  color: transparent;
}

.purple-gradient-text {
  background: linear-gradient(90deg, #ab4eff 0%, #f1419e 100%);
  background-clip: text;
  color: transparent;
}

.purple-green-yellow-gradient-text {
  background: linear-gradient(90deg, #3fdd8a 0%, #a252fe 100%);
  background-clip: text;
  color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(90deg, #3b5bb1 0%, #6fa1ff 100%);
}

.bg-green-gradient {
  background: linear-gradient(90deg, #278e31 0%, #52b23b 100%);
}

.bg-pink-gradient {
  background: linear-gradient(76.4deg, #ff9192 8.28%, #ff989e 83.02%);
}

.blue-gradient-text {
  background: linear-gradient(90deg, #3b5bb1 0%, #6fa1ff 100%);
  background-clip: text;
  color: transparent;
}

.no-bg-selection::selection {
  background: transparent;
}

@layer utilities {
  .placeholder-semibold::placeholder {
    @apply font-semibold;
  }
}
