NODE_ENV=development

PORT=4000

DATABASE_URL=mongodb://localhost:27017/test

JWT_NAMESPACE=http://localhost:4000/graphql
JWT_SECRET="not so secret"

WEB_APP_URL=http://localhost:3000

AWS_ACCESS_KEY_ID=example
AWS_SECRET_ACCESS_KEY=example

UPLOADS_BUCKET_REGION=us-east-1
UPLOADS_BUCKET_NAME=soundchain-api-develop-uploads

WALLET_PRIVATE_KEY=
ALCHEMY_API_KEY=
POLYGON_SCAN_API_KEY=
MARKETPLACE_ADDRESS="0xD772ccf784Df67E14186AA6E512c1A1bd32F394f"
NFT_ADDRESS="0xF0287926D495719b239340Fc31d268b76bAD8B42"
AUCTION_ADDRESS="0x903ea5B8f1BE6EdC74e66dd89565A1d537824A2F"
AUCTION_V2_ADDRESS="0x35f662bD7d418fd7B19518A22aF3D54ea99e7bf0"

PINATA_API_KEY=
PINATA_API_SECRET=
PINATA_GATEWAY_URL=https://gateway.pinata.cloud/ipfs
PINATA_DEDICATED_GATEWAY=https://soundchain.mypinata.cloud/ipfs


SENTRY_URL=

MAGIC_PRIVATE_KEY=

MAILCHIMP_API_KEY=xxxxxxxx

# Web Push Notifications
VAPID_PUBLIC_KEY="BKeK9ZBclfl7jIGhP2t32uQbjgevLfXxqhXVedQ7KhlVbJMzLY-vl2r37INmrpqU75WxCleQDaOGYMQv3FPEsA0"
VAPID_PRIVATE_KEY="VAPID_PRIVATE_KEY_REDACTED"
