services:
  mongo:
    image: mongo:4.4
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - .tmp/mongodb:/data/db

  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "4000:4000"
    depends_on:
      - mongo
    environment:
      NODE_ENV: development
      DB_URI: mongodb://mongo:27017/soundchain
