version: '3.1'
services:
  mongo:
    image: mongo:4.4
    restart: always
    ports:
      - 27017:27017
    volumes:
      - .tmp/mongodb:/data/db

  api:
    build: .
    restart: always
    depends_on:
      - mongo
    ports:
      - 4000:4000
    environment:
      DATABASE_URL: mongodb://mongo:27017/test
    volumes:
      - .:/app
    working_dir: /app
    command: npm start
