service: soundchain-api
variablesResolutionMode: 20210326
useDotenv: true

plugins:
  - serverless-prune-plugin
  - serverless-deployment-bucket
  - serverless-offline

functions:
  graphql:
    image: ${env:GRAPHQL_IMAGE_URI}
    events:
      - http:
          path: /
          method: post
          cors: true
      - http:
          path: /
          method: get
          cors: true
  hello:
    image: ${env:HELLO_IMAGE_URI}
    events:
      - http:
          path: /hello
          method: get
          cors: true
  # migrate:
  #   image: ${env:ECR_IMAGE_URI}
  # setupAirdrop:
  #   image: ${env:ECR_IMAGE_URI}
  # watcher:
  #   image: ${env:ECR_IMAGE_URI}
  #   timeout: 30
  #   events:
  #     - schedule: rate(1 minute)
  # playbackCount:
  #   image: ${env:ECR_IMAGE_URI}
  #   events:
  #     - schedule: cron(0 15 * * ? *)
  # processAuctions:
  #   image: ${env:ECR_IMAGE_URI}
  #   events:
  #     - schedule: rate(5 minutes)
  # processPending:
  #   image: ${env:ECR_IMAGE_URI}
  #   events:
  #     - schedule: rate(30 minutes)

build:
  external:
    - 'electron'

custom:
  prune:
    automatic: true
    number: 20
  db:
    id: !GetAtt DBCluster.ClusterResourceId
    host: !GetAtt DBCluster.Endpoint
    port: !GetAtt DBCluster.Port
    arn: !Join
      - ':'
      - - 'arn:aws:rds'
        - Ref: 'AWS::Region'
        - Ref: 'AWS::AccountId'
        - 'cluster'
        - ${self:custom.db.id}
    url: !Join
      - ''
      - - 'mongodb://'
        - ${env:DATABASE_USERNAME}
        - ':'
        - ${env:DATABASE_PASSWORD}
        - '@'
        - ${self:custom.db.host}
        - ':'
        - ${self:custom.db.port}
  uploadsBucket:
    name: !Join
      - '-'
      - - Ref: 'AWS::StackName'
        - 'uploads'

provider:
  name: aws
  region: us-east-1
  runtime: nodejs20.x
  ecr:
    scanOnPush: true
  lambdaHashingVersion: 20201221
  vpc:
    securityGroupIds:
      - Ref: VPCEndpointSecurityGroup
      - Ref: DocumentDBSecurityGroup
    subnetIds:
      - Ref: PrivateSubnetOne
      - Ref: PrivateSubnetTwo
  deploymentBucket:
    name: soundchain-deploymentbucket
  environment:
    NODE_ENV: ${env:NODE_ENV}
    DATABASE_URL: ${self:custom.db.url}
    DATABASE_SSL_PATH: db/global-bundle.pem
    DATABASE_USERNAME: ${env:DATABASE_USERNAME}
    DATABASE_PASSWORD: ${env:DATABASE_PASSWORD}
    JWT_NAMESPACE: ${env:JWT_NAMESPACE}
    JWT_SECRET: ${env:JWT_SECRET}
    WEB_APP_URL: ${env:WEB_APP_URL}
    SENDGRID_API_KEY: ${env:SENDGRID_API_KEY}
    SENDGRID_SENDER_EMAIL: ${env:SENDGRID_SENDER_EMAIL}
    SENDGRID_VERIFICATION_TEMPLATE: ${env:SENDGRID_VERIFICATION_TEMPLATE}
    SENDGRID_RESET_PASSWORD_TEMPLATE: ${env:SENDGRID_RESET_PASSWORD_TEMPLATE}
    UPLOADS_BUCKET_REGION: ${self:provider.region}
    UPLOADS_BUCKET_NAME: ${self:custom.uploadsBucket.name}
    WALLET_PUBLIC_KEY: ${env:WALLET_PUBLIC_KEY}
    WALLET_PRIVATE_KEY: ${env:WALLET_PRIVATE_KEY}
    ALCHEMY_API_KEY: ${env:ALCHEMY_API_KEY}
    MARKETPLACE_ADDRESS: ${env:MARKETPLACE_ADDRESS}
    NFT_ADDRESS: ${env:NFT_ADDRESS}
    AUCTION_ADDRESS: ${env:AUCTION_ADDRESS}
    AUCTION_V2_ADDRESS: ${env:AUCTION_V2_ADDRESS}
    PINATA_API_KEY: ${env:PINATA_API_KEY}
    PINATA_API_SECRET: ${env:PINATA_API_SECRET}
    MUX_TOKEN_ID: ${env:MUX_TOKEN_ID}
    MUX_TOKEN_SECRET: ${env:MUX_TOKEN_SECRET}
    SENTRY_URL: ${env:SENTRY_URL}
    MAGIC_PRIVATE_KEY: ${env:MAGIC_PRIVATE_KEY}
    MUX_DATA_ID: ${env:MUX_DATA_ID}
    MUX_DATA_SECRET: ${env:MUX_DATA_SECRET}
    POLYGON_SCAN_API_KEY: ${env:POLYGON_SCAN_API_KEY}
    NFT_MULTIPLE_EDITION_ADDRESS: ${env:NFT_MULTIPLE_EDITION_ADDRESS}
    MARKETPLACE_MULTIPLE_EDITION_ADDRESS: ${env:MARKETPLACE_MULTIPLE_EDITION_ADDRESS}
    SERVERLESS_ACCESS_KEY: ${{ secrets.SERVERLESS_ACCESS_KEY }}
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - s3:PutObject
            - s3:GetObject
            - s3:PutObjectAcl
          Resource:
            - !Join
              - ''
              - - 'arn:aws:s3:::'
                - ${self:custom.uploadsBucket.name}
                - /*

resources:
  Mappings:
    SubnetConfig:
      VPC:
        CIDR: 10.0.0.0/16
      PublicOne:
        CIDR: 10.0.0.0/24
      PublicTwo:
        CIDR: 10.0.1.0/24
      PrivateOne:
        CIDR: 10.0.2.0/24
      PrivateTwo:
        CIDR: 10.0.3.0/24
  Resources:
    VPC:
      Type: AWS::EC2::VPC
      Properties:
        EnableDnsSupport: true
        EnableDnsHostnames: true
        CidrBlock:
          Fn::FindInMap:
            - SubnetConfig
            - VPC
            - CIDR
    PublicSubnetOne:
      Type: AWS::EC2::Subnet
      Properties:
        AvailabilityZone:
          Fn::Select:
            - 0
            - Fn::GetAZs:
                Ref: AWS::Region
        VpcId:
          Ref: VPC
        CidrBlock:
          Fn::FindInMap:
            - SubnetConfig
            - PublicOne
            - CIDR
        MapPublicIpOnLaunch: true
    PublicSubnetTwo:
      Type: AWS::EC2::Subnet
      Properties:
        AvailabilityZone:
          Fn::Select:
            - 1
            - Fn::GetAZs:
                Ref: AWS::Region
        VpcId:
          Ref: VPC
        CidrBlock:
          Fn::FindInMap:
            - SubnetConfig
            - PublicTwo
            - CIDR
        MapPublicIpOnLaunch: true
    PrivateSubnetOne:
      Type: AWS::EC2::Subnet
      Properties:
        AvailabilityZone:
          Fn::Select:
            - 0
            - Fn::GetAZs:
                Ref: AWS::Region
        VpcId:
          Ref: VPC
        CidrBlock:
          Fn::FindInMap:
            - SubnetConfig
            - PrivateOne
            - CIDR
    PrivateSubnetTwo:
      Type: AWS::EC2::Subnet
      Properties:
        AvailabilityZone:
          Fn::Select:
            - 1
            - Fn::GetAZs:
                Ref: AWS::Region
        VpcId:
          Ref: VPC
        CidrBlock:
          Fn::FindInMap:
            - SubnetConfig
            - PrivateTwo
            - CIDR
    InternetGateway:
      Type: AWS::EC2::InternetGateway
    GatewayAttachement:
      Type: AWS::EC2::VPCGatewayAttachment
      Properties:
        VpcId:
          Ref: VPC
        InternetGatewayId:
          Ref: InternetGateway
    PublicRouteTable:
      Type: AWS::EC2::RouteTable
      Properties:
        VpcId:
          Ref: VPC
    PublicRoute:
      Type: AWS::EC2::Route
      DependsOn: GatewayAttachement
      Properties:
        RouteTableId:
          Ref: PublicRouteTable
        DestinationCidrBlock: 0.0.0.0/0
        GatewayId:
          Ref: InternetGateway
    PublicSubnetOneRouteTableAssociation:
      Type: AWS::EC2::SubnetRouteTableAssociation
      Properties:
        SubnetId:
          Ref: PublicSubnetOne
        RouteTableId:
          Ref: PublicRouteTable
    PublicSubnetTwoRouteTableAssociation:
      Type: AWS::EC2::SubnetRouteTableAssociation
      Properties:
        SubnetId:
          Ref: PublicSubnetTwo
        RouteTableId:
          Ref: PublicRouteTable
    NatGatewayOneAttachment:
      Type: AWS::EC2::EIP
      DependsOn: GatewayAttachement
      Properties:
        Domain: vpc
    NatGatewayTwoAttachment:
      Type: AWS::EC2::EIP
      DependsOn: GatewayAttachement
      Properties:
        Domain: vpc
    NatGatewayOne:
      Type: AWS::EC2::NatGateway
      Properties:
        AllocationId:
          Fn::GetAtt:
            - NatGatewayOneAttachment
            - AllocationId
        SubnetId:
          Ref: PublicSubnetOne
    NatGatewayTwo:
      Type: AWS::EC2::NatGateway
      Properties:
        AllocationId:
          Fn::GetAtt:
            - NatGatewayTwoAttachment
            - AllocationId
        SubnetId:
          Ref: PublicSubnetTwo
    PrivateRouteTableOne:
      Type: AWS::EC2::RouteTable
      Properties:
        VpcId:
          Ref: VPC
    PrivateRouteOne:
      Type: AWS::EC2::Route
      Properties:
        RouteTableId:
          Ref: PrivateRouteTableOne
        DestinationCidrBlock: 0.0.0.0/0
        NatGatewayId:
          Ref: NatGatewayOne
    PrivateRouteTableOneAssociation:
      Type: AWS::EC2::SubnetRouteTableAssociation
      Properties:
        RouteTableId:
          Ref: PrivateRouteTableOne
        SubnetId:
          Ref: PrivateSubnetOne
    PrivateRouteTableTwo:
      Type: AWS::EC2::RouteTable
      Properties:
        VpcId:
          Ref: VPC
    PrivateRouteTwo:
      Type: AWS::EC2::Route
      Properties:
        RouteTableId:
          Ref: PrivateRouteTableTwo
        DestinationCidrBlock: 0.0.0.0/0
        NatGatewayId:
          Ref: NatGatewayTwo
    PrivateRouteTableTwoAssociation:
      Type: AWS::EC2::SubnetRouteTableAssociation
      Properties:
        RouteTableId:
          Ref: PrivateRouteTableTwo
        SubnetId:
          Ref: PrivateSubnetTwo
    VPCEndpointSecurityGroup:
      Type: AWS::EC2::SecurityGroup
      Properties:
        GroupName:
          Fn::Sub: SecurityGroup-VPC-${AWS::StackName}
        GroupDescription: Allow HTTPS access from VPC to VPC Endpoint
        VpcId:
          Ref: VPC
        SecurityGroupIngress:
          - IpProtocol: tcp
            FromPort: '443'
            ToPort: '443'
            CidrIp: 10.0.0.0/16
    DocumentDBSecurityGroup:
      Type: AWS::EC2::SecurityGroup
      Properties:
        GroupName:
          Fn::Sub: SecurityGroup-DB-${AWS::StackName}
        GroupDescription: Allow access from VPC
        VpcId:
          Ref: VPC
        SecurityGroupIngress:
          - IpProtocol: tcp
            FromPort: '27017'
            ToPort: '27017'
            CidrIp: 10.0.0.0/16
    DocDBSubnetGroup:
      Type: AWS::DocDB::DBSubnetGroup
      Properties:
        DBSubnetGroupDescription: Subnet group for DocumentDB
        SubnetIds:
          - Ref: PrivateSubnetOne
          - Ref: PrivateSubnetTwo
    S3Endpoint:
      Type: 'AWS::EC2::VPCEndpoint'
      Properties:
        PolicyDocument:
          Version: '2012-10-17'
          Statement:
            - Effect: Allow
              Principal: '*'
              Action: '*'
              Resource: '*'
        RouteTableIds:
          - !Ref PublicRouteTable
          - !Ref PrivateRouteTableOne
          - !Ref PrivateRouteTableTwo
        ServiceName: !Sub 'com.amazonaws.${AWS::Region}.s3'
        VpcId: !Ref VPC
    DBCluster:
      Type: AWS::DocDB::DBCluster
      DeletionPolicy: Delete
      Properties:
        DBClusterIdentifier:
          Fn::Sub: DB-${AWS::StackName}
        DBSubnetGroupName:
          Ref: DocDBSubnetGroup
        VpcSecurityGroupIds:
          - Fn::GetAtt:
              - DocumentDBSecurityGroup
              - GroupId
        MasterUsername: ${env:DATABASE_USERNAME}
        MasterUserPassword: ${env:DATABASE_PASSWORD}
    DBInstance:
      Type: AWS::DocDB::DBInstance
      Properties:
        DBClusterIdentifier:
          Ref: DBCluster
        DBInstanceClass: db.t3.medium
      DependsOn: DBCluster
    # UploadBucket:
    #   Type: AWS::S3::Bucket
    #   Properties:
    #     BucketName: ${self:custom.uploadsBucket.name}
    #     CorsConfiguration:
    #       CorsRules:
    #         - AllowedHeaders: ['*']
    #           AllowedMethods: [GET, PUT]
    #           AllowedOrigins: ['*']
