name: Test Development ENV

on:
  workflow_dispatch:

jobs:
  deploy-api:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14.x]
    defaults:
      run:
        working-directory: api
    steps:
      - uses: actions/checkout@v2
      - run: 'echo ${GITHUB_BASE_REF}'
      - run: 'echo ${GITHUB_REF}'
      - run: 'echo ${GITHUB_REF#refs/heads/}'
